{% extends 'AppBundle::base.html.twig' %}

{% block content %}
<div class="wrap">
  <h1>Album "{{ album.name }}" ({{ images.totalItemCount }})</h1>

  <ul class="images">
    {% for img in images %}
      <li>
        <a href="{{ img.src }}" target="_blank"><img src="{{ img.src }}"/></a>
      </li>
    {% endfor %}
  </ul>

  <div class="navigation">
    {{ knp_pagination_render(images) }}
  </div>
</div>
{% endblock %}